<div class="container">
  <!-- new user stuff -->
  <div class="container">
    <div class="col-sm-10">
      <h2>Create new user account</h2>
      
      <p class="lead">Enter the user's information below:</p>
      <form class="form-horizontal" action="/create_account" method="POST" role="form">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-6">
            <input class="form-control" name="name">
          </div>
          <p class="help-block">Enter the user's name.</p>
        </div>
        
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input class="form-control" name="email">
          </div>
          <p class="help-block">Enter the user's email.</p>
        </div>
        
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-6">
            <input class="form-control" type= "hidden" >
          </div>
          <p class="help-block">The user's password is randomly generated.</p>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </tr>
<!-- Designate Admins -->
  <tr>
    <div class="container">
      <div class="col-md-10">
      <div class="col-md-10">
      <h2>Maintain user admin privileges</h2>
      <p class="lead">Add Additional Admins:</p>

        <form method="get" action="/admin">
          <div class="form-group">
            <p>Enter the email of the user to be given admin privileges:</p>
            <label for="name" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
              <input class="form-control" name="email">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="col-sm-10">
        <br>
        <p class="lead">Disable Admin Privileges:</p>
        <div class ="table">
          <tbody>
          <% if @admins.count > 1; @admins.each do |u| %>
            <tr>
              <td><%= u.name %></td>
              <td>
                <form method="post" name="updateadmin" id="updateadmin" action="/admin/manage">
                  <input type="hidden" name="_method" value="PATCH">
                  <input type="hidden" name="id" value="<%= u.id %>">
                  <input type="hidden" name="action" value="<%= if u.admin; 'disable'; else; 'enable'; end %>">
                  <button name="submit" type="submit" id="submit"><%= if u.admin; 'Disable'; else; 'Enable'; end %></button>
                </form>
              </td>
            </tr>
            <% end %>
          <% else%>
            <p> There is only one admin. Admin status cannot be disabled. </p>
          <% end %>
          </tbody>
        </div>
      </div>
    </div>
  </div>
</div>