<html>
<head> 
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <title> Translator </title>
  </head>
  <!-- create a link in the nav bar for creating a new item -->
  <h4> Welcome to Translator </h4>
  <div class= "row" id= "Popular items">
    <!-- Fill in with top 5 most popular items -->
    <%item_ids = Item.sort_by_comments.map {|count,id| id }%>
    <% item_ids.each do |id| %>
    <div class ="row">
      <p> <%=item.find(id).title%></p>
    </div>
    <%end%>
    
  </div>
  <div class= "row" id="Categories">
    <!-- Need to build search function -->
  </div>
  </html>