

<div class= "container">
  <h4> Welcome to Translator </h4>
  <div class= "row well" id= "Popular items">
    <h3>Popular Items</h3>
    <!-- Fill in with top 5 most popular items -->
    <%item_ids = Item.sort_by_comments[0..4].map {|count,id| id }%>
    <% item_ids.each do |id| %>
    <div class ="row">
      <p> <a href= "/item/<%=id%>"><%=Item.find(id).title%></a></p>
    </div>
    <%end%>

  </div>
  <div class= "row" id="Categories">
    <!-- Need to build search function -->
  </div>
</div>